.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard__header {
  min-height: 60px;
  background-color: blue;
}

.dashboard__container {
  display: flex;
  flex: 1;
}

.dashboard__sidebar {
  min-width: 250px;
  background-color: yellow;
}

.dashboard__main {
  flex-grow: 1;
  overflow-y: auto;
  background-color: white;
}

@media (max-width: 768px) {
  .dashboard__container {
    flex-direction: column;
  }

  .dashboard__sidebar {
    min-width: 100%;
  }
}
